@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #050816;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  /* Custom scrollbar */
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #050816;
  }
  &::-webkit-scrollbar-thumb {
    background: #111827;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #3B82F6;
  }
}

::selection {
  background-color: rgba(139, 92, 246, 0.3);
  color: #ffffff;
}
